@model EvaluadorDeRestaurante.Models.Restaurante
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Esta seguro de que desea eliminar esta informacion?</h3>
<div>
    <h4>Informacion de Restaurante</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nota)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nota)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Elimnar" class="btn btn-default"/>
            @Html.ActionLink("Volver a Lista", "Index")
        </div>
    }

</div>