@model EvaluadorDeRestaurante.Models.Restaurante

@{
    ViewBag.Title = "Details";
}

<h2>Mas Informacion</h2>

<div>
    <h4>Restaurante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puntaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puntaje)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.IdRestaurante }) |
    @Html.ActionLink("Volver a Lista", "Index")
</p>
